*{ 
 box-sizing: border-box;
overflow: hidden;
passing: 0;
margin: 0;

}

body{
width: 100vw;
height: 100vh;
background-color: black;
}

.container {
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
gap: 30px;

}

.baiano{
width: 75vw;
height: 40vh;
}

.cblol{
width: 75vw;
height: 40vh;
}