@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');
:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

* {
    background-color: var(--background);
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    

} 
nav {
    height: 100px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.container-main {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 150px;
    margin: 30px;
}

.container-right {
    width: 50vw;
    height: 100vh;
    float: right;
}
.container-right > img {
    width: 50vw;
    height: 100vh;
    
}
.container-left {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.login {
    width: 572px;
    height: 522px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--form-background);
}


.container-login {
    width: 70%;
    background-color: var(--form-background);
    height: 100%;
    
    
}
.titulo {
    margin-top: 65px;
    background-color: transparent;
}
.titulo > h1 > img{
    margin-right: 10px;
    background-color: transparent;
}

.titulo > h1 {
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 25px;
    font-weight: 600;
    color: var(--text-title);
    margin-left: 7px;
    margin-bottom: 10px;
    background-color: var(--form-background);
}
.titulo > p {
    font-size: 16px;
    color: var(--text-base);
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--form-background);
}
    
.inputs {
    background-color: transparent;
}

.email{
    margin-top: 20px;
    display: grid;
    background-color: var(--form-background);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.email label {
    color: var(--text-base);
    margin-bottom: 10px;
    font-size: 18px;
    background-color: transparent;
}
.email input{
    height: 50px;
    width: 98%;ustify-content: space-between;
    border: solid 1px var(--text-base);
    border-radius: 3px;
    color: var(--text-base);
    outline: 0;
    background-color: transparent;
    padding-left: 3rem;
    background-image: url(../images/mail.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center left;
    background-position-x: 10px;
    margin-left: 2px;
}
.email input:focus{
    transition: 0.3s;
    transform: scale(1.01);
    border: 2px solid #ffc632;
    background-image: url(../images/mail-focus.svg);
    background-repeat: no-repeat;
    background-size: 30px;
}

.passwd{
    margin-top: 20px;
    display: grid;
    background-color: var(--form-background);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
}
.passwd label {
    color: var(--text-base);
    margin-bottom: 10px;
    font-size: 18px;
    background-color: transparent;
}
.passwd input{
    height: 50px;
    width: 98%;
    border: solid 1px var(--text-base);
    border-radius: 3px;
    color: var(--text-base);
    outline: 0;
    background-color: transparent;
    padding-left: 3rem;
    background-image: url(../images/lock.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    display: flex;
    background-position: center left;
    background-position-x: 10px;
    margin-left: 2px;
}
.passwd input:focus{
    transition: 0.3s;
    transform: scale(1.01);
    border: 2px solid #ffc632;
    background-image: url(../images/lock-focus.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: transparent;
}
.custom-checkbox {
    height: 50px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 
}

.custom-checkbox input {
    display: none;
    
}
.custom-checkbox, label {
    background-color: transparent;
    color: var(--text-base);
    display: flex;
    gap: 5px;
    font-size: 15px;
}
.custom-checkbox input + label:before {
    content: '';
    width: 18px;
    height: 18px;
    border: 2px solid #505050;
    border-radius: 5px;
    display: inline-block;
    background-color: transparent;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
}
.custom-checkbox input {
    margin-top: 10px;
}
.custom-checkbox input:checked + label:before {
    background-image: url(../images//check.svg);
    background-color: var(--primary-color);
    position: center;
    border: none;
    padding: 2px;
}
.container-down {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.forget, a {
    background-color: transparent;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}
.container-button {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.container-button button {
    width: 100%;
    height: 60px;
    font-size: 27px;
    color: black;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}
.register, a{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--form-background);
}

.register{
    background-color: transparent;
}